.search-details{
    width: 1251px;
    height: 387px;
    margin-top: 54px;
    margin-left: 90px;  
    background: #F5F5F5;
    border-radius: 8px;
    display: flex;
    padding-top: 24px;
    padding-left: 30px;
}

.search-title {
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: #262626;   
}

.search-image{
    margin-right: 55px;
}

.search-info{
    margin-right: 43px;
}

.user-img-details{
    width: 284px;
    height: 280px;
}

.search-image-perfil{
    margin-top: 15px;
}

.search-info-title{
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #1890FF;
    padding-top: 8px;
    padding-left: 14px;
}

.search-info-deatails{
    width: 870px;
    height: 247px;
    margin-right: 43px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 12px;
}

.search-info-public{
    
    height: 22px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 5px;
    
}

.details-info-public{
    padding-left: 14px; 
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;  
    color: #595959;  
}

.ul-details{
    display: flex;
    
}

.list-details{
    
    margin-right: 8px;
}

.info-details{
    width: 840px;
    display: flex;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 14px;
    margin-bottom: 5px;
}

.info-details-p{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #737373;
    margin-top: 8px;
    margin-bottom: 8px;
}

.info-details-user{
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #737373;
    margin-top: 8px;
    margin-bottom: 8px;
}

.maior{
    width: 163px;
}

.medio{
    width: 118px;
}

.menor{
    width: 105px;
}



