.search-container{
    margin-top: 55px;
    margin-left: 90px;
    width: 1251px;
    height: 270px;
    background: #E6F7FF;
    border-radius: 16px;
}

.search-content{
    padding-top: 65px;
    padding-left: 95px;
    padding-bottom: 40px;
}

.search-title{
    font-size: 38px;
    line-height: 46px;
    color: #262626;
}

.input-search{
    margin-top: 10px;
    margin-bottom: 24px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    width: 675px;
}